

.card_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.text{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
    color: var(--white);

}
.link_wrapper{
    text-decoration: none;
    color: var(--blue);
}